.App {
  text-align: center;
  background-color: #282c34;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}*/

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.blogSection {
  margin: 0 auto;
  padding: 3em 2em;
  max-width: 600px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(6px + 2vmin);
  color: white;
}

p {
  text-align: justify;
}

button {
  font-size: 1em;
}

/*.App-link {
  color: #61dafb;
}*/

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/